@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;

}
.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 2rem;
}


.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(
    #36D1DC,
    #5B86E5
  );
  background-color: #4b9cdb;
}

.load-wrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

/* ANIMATIONS */

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.load-wrapp .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-wrapp .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-wrapp .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
