@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500&display=swap");

:root {

  /* COLORS */
  --hue-color: 240;
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --white-color: #fff;

  /* FONT  */
  --h1-font-size: 3rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;

  --font-weight-medium: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

/* ---------- CLOCK TEXT ---------- */
.container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}
.clock__text {
  display: flex;
  justify-content: center;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-medium);
  color: var(--title-color);
}

.clock__text-ampm {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-weight-medium);
  margin-left: 0.25rem;
}

.clock__date {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-medium);
}