/*
* 320px — 480px: Mobile devices
* 481px — 768px: iPads, Tablets
* 769px — 1024px: Small screens, laptops
* 1025px — 1200px: Desktops, large screens
* 1201px and more —  Extra large screens, TV
**/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500&display=swap");

:root {
  /* COLORS */
  --hue-color: 240;
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(0, 0, 0);
  --text-color-grey: rgb(136, 136, 136);
  --white-color: #fff;
  --background-color: rgb(242, 242, 247);

  /* FONT  */
  --h1-font-size: 3rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;

  --font-weight-medium: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
}

h1,
p,
a {
  text-align: center;
  color: var(--text-color);
}

.greeting-block {
  margin-top: 5rem;
}

.social-links {
  position: absolute;
  bottom: 2.5rem;
  right: 50%;
  transform: translateX(50%);

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  min-width: 162px;
  width: 60%;
  max-width: 350px;

}


.social-links__item {
  padding: 1rem 1rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  gap: 0.5rem;

  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

svg {
  width: 36px;
  height: 36px;
}

.social-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-info .description {
  font-size: var(--small-font-size);
  color: var(--text-color-grey);

}

@media screen and (min-width:480px) {

  .social-links {
    position: initial;
    margin: 2rem auto;
    transform: initial;
    padding: 3rem;
    width: 350px;

  }
  .social-links__item {
    padding: 2.5rem;
  }
}
